---
import '../assets/styles/main.scss';
import Header from '../components/Header.astro';
import '../fonts';

interface Props {
  frontmatter: Record<string, string>;
}

const siteOrigin = 'https://projects.calebevans.me';

const { frontmatter } = Astro.props;

const pageSeoTitle =
  frontmatter.id === 'home'
    ? `${frontmatter.title} | ${frontmatter.subtitle}`
    : `${frontmatter.title} | jCanvas`;

const pageSeoImage = `${siteOrigin}/jcanvas/assets/images/social-image.png`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/jcanvas/assets/images/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:title" content={frontmatter.title} />
    <meta name="og:site_name" content="jCanvas" />
    {
      frontmatter.description ? (
        <meta name="og:description" content={frontmatter.description} />
      ) : null
    }
    <meta name="og:image" content={pageSeoImage} />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@caleb531" />
    <meta name="twitter:creator" content="@caleb531" />
    <meta name="twitter:title" content={frontmatter.title} />
    {
      frontmatter.description ? (
        <meta name="twitter:description" content={frontmatter.description} />
      ) : null
    }
    <meta name="twitter:image" content={pageSeoImage} />
    <title>{pageSeoTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
