---
import DefaultLayout from './Default.astro';
const { frontmatter } = Astro.props;
---

<DefaultLayout
  title={frontmatter.id === 'home'
    ? `${frontmatter.title} | ${frontmatter.subtitle}`
    : `${frontmatter.title} | jCanvas`}
>
  <article class="page-{{ page.id }}">
    <h1>{frontmatter.title}</h1>
    <span class="subtitle">{frontmatter.subtitle}</span>
    <!-- <div class="flex flex-col gap-y-4"> -->
    <slot />
    <!-- </div> -->
  </article>
</DefaultLayout>
